@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans+JP:wght@100&family=Roboto+Slab:wght@300&display=swap');

body {
    margin: 0;
    
    color: white;
    background-color: #2e0099;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}